$color-comprar: #0000ff;
$color-imagen-compras: #00ff00;
$row-gap: 20px;
$imagen-compras-width: 100px;
$imagen-compras-height: 100px;
$gama-colores: lover; /* Posibles Valores: red, speaknow, lover */